* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

/** Process bar **/
button {
    width: 80px;
    height: 30px;
    margin: 5px;
    font-weight: bold;
    background-color: #b1abab;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#myProgress {
    position: relative;
    background-color: #ddd;
    height: 30px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

#myProgress h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

#myBar {
    width: 0;
    height: 100%;
    border-radius: 5px;
    background-color: #4CAF50;
}

/** Circle **/

#circle {
    margin: auto;
    border: 1px solid red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/** Control Box **/

#box {
    position: relative;
    margin: auto;
    height: 100px;
    width: 80%;
    background-color: green;
    border-radius: 5px;
    margin-bottom: 30px;
}

#box_child {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 70px;
    width: 70px;
    background-color: red;
    border-radius: 5px;
}

#control_line {
    margin: auto;
    width: 80%;
    height: 10px;
}

#control_line input {
    width: 100%;
    cursor: pointer;
}


/** Zoom Out **/

#zoom_out {
    margin-left: 20%;
    height: 150px;
    width: 40%;
    background-color: green;
}


/** Change color **/

#box_color {
    margin: auto;
    width: 20%;
    height: 150px;
    background-color: black;
}

#line_change_color div {
    margin: auto;
    margin-top: 10px;
    width: 22%;
    display: block;
}

#line_change_color div label {
    float: left;
}

#line_change_color div input {
    margin-left: 10px;
    width: 90%;
    cursor: pointer;
}


/** Opacity **/

#opacity_box1 {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 150px;
    background-color: green;
}

#opacity_box2 {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 200px;
    background-color: blue;
}
