* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

/** Process bar **/
button {
    width: 80px;
    height: 30px;
    margin: 5px;
    font-weight: bold;
    background-color: #b1abab;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#myProgress {
    position: relative;
    background-color: #ddd;
    height: 30px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

#myProgress h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

#myBar {
    width: 0;
    height: 100%;
    border-radius: 5px;
    background-color: #4CAF50;
}

/** Circle **/

#circle {
    margin: auto;
    border: 1px solid red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/** Control Box **/

#box {
    position: relative;
    margin: auto;
    height: 100px;
    width: 80%;
    background-color: green;
    border-radius: 5px;
    margin-bottom: 30px;
}

#box_child {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 70px;
    width: 70px;
    background-color: red;
    border-radius: 5px;
}

#control_line {
    margin: auto;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background-color: green;
    position: relative;
}

#control {
    position: absolute;
    top: -3px;
    left: 36px;
    height: 18px;
    width: 18px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
}